@page
@model RazorPagesMovie.Pages.User.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Adduser</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Adduser.UID" />
            <div class="form-group">
                <label asp-for="Adduser.Uname" class="control-label"></label>
                <input asp-for="Adduser.Uname" class="form-control" />
                <span asp-validation-for="Adduser.Uname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Adduser.Address" class="control-label"></label>
                <input asp-for="Adduser.Address" class="form-control" />
                <span asp-validation-for="Adduser.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Adduser.phone" class="control-label"></label>
                <input asp-for="Adduser.phone" class="form-control" />
                <span asp-validation-for="Adduser.phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Adduser.password" class="control-label"></label>
                <input asp-for="Adduser.password" class="form-control" />
                <span asp-validation-for="Adduser.password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
